/* *************************************************************** */
--SET IDENTITY_INSERT [dbo].[AppSettings] ON;
--GO
MERGE INTO [dbo].[AppSettings] AS Target
USING 
(
	VALUES 
	 (N'YourPayTestOrProd', N'Test', NULL, 0)
	,(N'YourPayTestDetails', N'15MffCPDtGfe2gDHGaNmkK3KoN2McO1BOolqkk3xKp9jvGzriuLRqHdm23P7AiYAlNILaajES06JA2tT//Mvy1FsOeuA+1LY3XQtxgnhEn3R/d7W/uVpylVDdv0au2xpgzsM7YLRLPRfW/NgAJpiqosfbUlxpFQvLwfqxfbIoNT6gckKQKgpE5NK5nhihFOwuelNZCzrt8YaA9BLAA74jOMPV5MowrtIBAK/SHxE8hOnbwN+Q40P4CxcZcKa9xnGbXA7VKfUyscuFCoebcIYA347JvQFe9Rlm76NIddelSAXisePVxA/GnAFmSOD93UroLUhzal6kg6RzVVaU3FPR5keXuBeNqJaJmG/TpxpYxT5+a2opG3zYdhRT0pbcrmQlTj4Sk3+rsKGP5XxOcvNNfb2aL8Ei/8yvTwlDfhoggTzStVuNGKkfOiOTFs32pddyHEKAni1LaPPQHzbn5/qlNTsu3zVavRD28Z2C1ICcFQ+UfUclzfDWwhJFVfMB7Tas7qD98fKrdug8ddyUXI/Wlg9wstf1WbOYJm6Xdlu58WNo4N71gObaXdLRqWjDQTzo4+7VO+llPb8AW1CCobsR8VtEVKFZTaUuVwKHTM84kVli0ZKAlsafBgz3hi33xe7Rr9hAwuYcdFzubqqmvZVYUuUaobwcrBXjRGsVLnC/uSfuTBJ+lMxPHxbhP1QVDwMARhaFcDe8/WwDVQaQD4o928BcGsEeT2VOivf3UAp7LjnbnYrOuYz+MO6tIhXWU/3', NULL, 1)
	,(N'YourPayProdDetails', N'15MffCPDtGfe2gDHGaNmkK3KoN2McO1BOolqkk3xKp9jvGzriuLRqHdm23P7AiYAlNILaajES06JA2tT//Mvy1FsOeuA+1LY3XQtxgnhEn3R/d7W/uVpylVDdv0au2xpgzsM7YLRLPRfW/NgAJpiqosfbUlxpFQvLwfqxfbIoNT6gckKQKgpE5NK5nhihFOwuelNZCzrt8YaA9BLAA74jOMPV5MowrtIBAK/SHxE8hOnbwN+Q40P4CxcZcKa9xnGbXA7VKfUyscuFCoebcIYA347JvQFe9Rlm76NIddelSAXisePVxA/GnAFmSOD93UroLUhzal6kg6RzVVaU3FPR5keXuBeNqJaJmG/TpxpYxT5+a2opG3zYdhRT0pbcrmQlTj4Sk3+rsKGP5XxOcvNNfb2aL8Ei/8yvTwlDfhoggTzStVuNGKkfOiOTFs32pddyHEKAni1LaPPQHzbn5/qlNTsu3zVavRD28Z2C1ICcFSUaPy1PEYMzR2DW7DO/iE0LzmavaKcZut4Sjj/Q7t6qAGHfdLq9lOfr9h/5VVqQEH7qDzBfxhT3Z/f2cWsB1PFYMu6IxOGttolO4Eg5u3gqSctlL+b2Am58XfBlnBQNSKIIOxE7YEI2dcGl6GCYzunenR2z7SMR8stsehrBi1wNGHe0S7REoBHpZZOwhoWLga0ex0HPVvVx/JxtYtjbKTVx28y7FparJb+/u1mDDFwk88KEKpv2e9GauK2PEihmd4Rwzp4U7a+bhYQus5agbIHetXvX5JJtsa55dnnBcva8Qgj1WdiP5YWY9CWwE3u+4zHTHiso8q7e2hhkIq1LQNoV+i9+eSVy4oA3geIu34VYGEfvPsBOmFb8fOOFPL32Vqv/LxQCC2da1/jKCrY9oV7a82+u0navrxzaHM9DNZ2P80SN6SVbx/ZPqX6LXlVKRLxSHmDuOjYJ4XGCwfbzrxf3JPJkFIMkLZCkiDFO6Dp9noFzYwDv0nkAt4WsAgobc5rnRKrjeZu02gM5dWztMi5', NULL, 1)
	,(N'TwilioTestOrProd', N'Test', NULL, 0)
	,(N'TwilioTestDetails', N'BAETdi9USwPd68BEqv8tH7QZDHPdMm6IOaDouUF08Kv3v5vE0Kx05bGgMgkJjC/CrzfyxMu6miDgyA4o/evb5IoGiThIEA6nbcsI1QFgUfkVdicjLSu0VPgUotva51D3+N2nh/02537fIw3M8/gMOJzQrTSO4EXy06Yx8yYhhlhWrrE8awsarCzeLoEp8OAVeZ9VEVpYjDHHxSmMf8GLcIuAUipIIC7Z670Pw9dJnDKgkzkk2+hMWTm86mU+IRazORdXhKounDffZMi+uUpnBBC8qrb5bBWDDMqkivzxK80IV5g3r9D9WWJmyKixzUbsi22l8TDPXtY4lNmQ2oJn8if8z2uP93XUHylj2GApC+6+oXew2TOIUT1K5dm0lPuJ0ruyhhJRIwbfcYwmMBZjXn7oVpMTNDtCgNlh4W8+lyv6PmWfPbb92wFqf4HZLbZIvMffvsGwy2d08l0DyKzjYa1EXS5L0aWUB/k2a6t65cYGt9GEEei6ZAXmbRiP5UbWffCSo6zaiKUfHvJxF6vBefdwwSTX8sgkUzxN90YH6y/phUteWxeGd/iuGVlhFl/tYH6UIJEGfOlw//evtTH+EErYmw+Yt4lz8owCqDrlBbdi7J6I3FQ7jo+adoPSdGDEF6sN7MyrRp2LzTyj/+nsNlgh5gm2bxk3GKmdticBGIds63+e+rl+/3cGBGocO/TQXZYZJF4nuyrUlMukTby5WVkTzmYwvDULAN3rTla09LfBPvSPlwZ2QRwNMtVGJj/8SNiSSTJYlNO+6G0yYjqmYr/RaF30JKZabMO/iSfGHmQTV0o9RNj8y2c+1hvFgS2ljcZtrTDZd+b7YJ5znn0Qf4tiCoDhz9MpyTpwxe9Wpj9DANfZO+rWw1gY+pljqHLr1yMTYxIF8GPEEKuc/3d7Su5bK7ndpfl5KCqfjXjjbgM6IePRNdRkcGSWu3pt93Y9AaF7ne9lQIrlGp9OPCQD17BrEiqCL6g1Ig3UZnWR3t5knP9dfze+pbPD/Pk/ulMAkfZkehLBBGQFWb3xxV2EaMWndUTxQ2maDyuFBP6FT3DxKJQDylGk4u4OTQHKqyoeb5cws5PcFoUbjmXB3XDMTMOh7lPTQQ9NiFeYJufMJLvaLGxcKG69TAyI18JCHT1APxwXvBkFcwyKwICHLhmBoHnP+5LyLZnH5UQsQIRl+kQWfjRVm618axUuR8nDtFyjGNHw3Y7m+4BZ/6J2wHoygMo4NGj8jdmXT+JhumVdlnhZ9AOX1IUARMLmIwSwveCZryxSqMnlMpo8nukLYzUwsqGkd0lZ41cknJs3VgncrZlkV8Gq3eToKAcgSt+9Qr3VrVL2Fm37IgMwKKgCMW/3gi+SGWYRRjX8sH4hwqMS/FXpFORbML2Z05hOX7I80UrLGxo/Zg/XJIB5TfHOp/aiHPGsbFeQaucUvu5EShHBzSa+q46cg1ZKD+28qxdZDKiJc2vvpc90Koat6se0s2I4+eKZogHiXGDRYvvZ/JM1nRxjMQ6fKqZiBkOcODueUKILx8h1RX1xfsP0xmMs32NGC6wJdtWOcgxsQ/VXaHtxTucvKlkbioXjX3V0Hj2tmpfWH2TzF5Y1eXp6jLX8Ru9xqZCCGeu8VpKMARSIhoCQtI19sJLUStJKzVINh0BBI3fbcLu70BoNgrfhVv9CpnQk5+/u038FfprQillUyIzMtGRr66U0xQg3lsdfLZ55wqlkA44MpUxNkcmoKMxk++TbYE6WNhcz6dNMlaFhEZf4fQoL13RD/b1hAictDKDnNXH4cE1QaaPZpMmM75dzwKuGh8RD/BJIzKDzX2eZIxQsmJVncadoFx9IceXTYZPfL2/hb67taes6A0ly/cQhs7NYGknLUriz+puUNh92cgKASXNBResqxmG+ACYVaaoljvzE', NULL, 1)
	,(N'TwilioProdDetails', N'BAETdi9USwPd68BEqv8tH/BHDfgqTD5peiKMlNKII5Sgm52DiH3AMUvxIB0JabAqcvInj7aodGtqcQqb2MRsyH1ZlcnvGuxHltCaGGWJCAgRcjr0B/KgdXWLAkM8zq+yqoIlBBG2IuS+abcgnn/Z3Q2qdfw6WwvabbwRLTgfIPAZx6mjuZ9pqHumkxmzCimOqkvIcpWxerOMu8Di6+vXq6eeEZbDpxeuUbc5hPjfa27VwKlt6t+AHEX0nnNAHzCqpHShArLpAxvTVhF0BNr9EvdKuFpO3+Khp7UgDSiG/xFPXkTTWmskhgZC877QDrsygMiCO6dB/BQWvjJymZYcWVqul9upb1Y2wIBZ1dymetPycP398sIBJ5jlBvo0geJiMR379Z86Lqx01Ruyk7MbKn17nzfCL9KnRGwXuDIogGDMsP3Sj6eOcHYiHxBoBqcmtga3E6Qz0KWgfOrIGs38ul/wQDk4s1J/N8JusRIQSYjjzzVkiQ3/4LEZ0oNVtjNsbGR9TMKj8tmEozgYbnUJvvT5tyyR2HpdUT+RaSYwQhJzQ5t6KlGxsmK2JRHAkZ2BXc5vs6nuZZa0NrDoXV3FebZIjjPQOkC7pYlvxHr4xHFiLV6HgZ/sldZA/r3J4dAfYKwkQVHYQg5cZMtv7fElo/sFQTlFpQIar5tBnjShao/RqlFPZjrNCdmzcqW1Sqnwu33vBvn4bK0otYPnq2yaY08NfHU4qBdAtjIREkguy4vPuHzZDKaUFu37cTw8E+etDTEgTbY+00mGcZRnXy3dXkXKccAqLBk01yzVnpinrGuifClUhggZMsoTxrJQDCregVr1jEOOA5/2E/FHTH0FQiYTbjRlYwkfzgJ1itb5HuE/NGgqDKZBb+OmBp6JtyzBlERa2KeKRbtWthIuBqe9+vjaisefkBBP6QXKVlDGpDqke5CJgRMwPZX08aAif/80R458dbTSlCo+bthvgVpqzUgEfjKVKruawxbD1/0fE+kXzCelqK/pXD431QhBN0T67B4za9c+1/sEb+FIh5yp+JM6aV38n+klaZ/TF2Dwpo32dOSCMyRfZRpiaDUy2LSarO3u7CaCY8NMr7sAgSYoYyFDknEgGQ92dJjAEaH0l3IKIyeO2VPeBYhgMbT/KjASaVAmy8TLbhTTaCv7vVl5Ue5V1idCH7Og7zro6ciEKmdEj37UsDg8kUlgA0Bijcop64Lp2L9b7UrXmO0OqNurP0N5fNNjSvijq5CUKFZ0zwvxlHrgzeexn5PdM/OfpiWF7vPYSFHltiV3wh9abxI44Tr672vTU8QflbtEgid5eSIS2/pRJ3dWPwc5Cn2BDlFsXulC7P/Z25l1a9aYgM9czJEXrqdN0c6LsGUfC7ZC49766RIF+Rv4hl4wcoy1GQc1o/8/40YkD5rlQ6TkAqiIF89dl9GyyEvLPi2cSReNxi4yW3zjE5w5D/rj8FPTX11VZ2SouXKeK8uwAc2N/plUuID4CTtBjRfc+Ay/K2ywtSCKW4qT4xO5JXhSNmK/NE3Z', NULL,1)
	,(N'CommissionPercent', N'6.9', NULL,0)
	,(N'OrderSizeBoundary', N'{ "Min": 10, "Max": 1000 }', NULL,0)
	,(N'MailJetSettings', N'l95ggB7Kqo8hiQ2DEMwIhaRbkIsktEdS0Wva1mmMUZ66AolG3w32O+Td6/+tMsx7j9ag+CvsRIl8U3K3VxAUsRo6SeLgL0+aHjT0XLRQZb7kzmyK0yGFOtlI/afE+4W8pOZvXjJbl62sxvYoMUVDb0qAghhkard7vQA6EuvILSv5k5V5hn29mQvqhI4Dzik757ki8kv9QdhDx1iZaQD6whK03pjfA26roIoevzHuXgvP66VNue0O8t/OFajdmJl+T0chXMpP90CREvVd627IJuNd8cJ+Dbtff6Dou6BPfPNpYLr755UFC5r0iv66YP7GZh+71yEeMISDUsCRa6KN08+MUtRHsmiWguCuLyUght+aKPnAOOfYavYVz2ij6TcXpFn3wO91a/gVTT5fv+BfnGWLZ9jiQjyVF7cKoxLfnpW85EvgD1NDGPfclp/b4anghU5XNk+zHkRAeIr5hd1oPlTeHWutrI3i3vfVfGWplO26BIkz0jjmfwHydykOJU/FTJbb8PUrfT/zZfyVII1LyuB1m93nox/33pf9A67oHOQo4WlY0/fXJN1HcNP3dAFU3ABIxi8cc8omgMh6h7dZ3BZydBY1igzY74cQAf2RL411netrONrW1rt26HOEllO9', NULL,1)
	,(N'BitGoAccessCode', N'pPf+CdWKo3dQul9cFQiorFjYXMw+HwxKK2HGQL3676T3U0A3eLsrUwx8en/iy59i80t23MHUvgqi4L0OKnVCaJI0ZIzQcGWTXIjHmjEkxT5RulodnE/nEjgLdnEteIjYFirmgzUP0Z55bpxaVdZnySzCSpHajf9rHEmlE5RM5yXxsRDm9mQadVFfn2MeV7fD9ImKO42o/nERZNj9rhRxkYxXv04Rqj6Sm+gZmRWmsDY29cxxm6tJA+A7ZScMJXT6hbAuo0iRTeR5JVm4FY8nCZgUx7VnP2TpL3ZpCMHmWts=', NULL, 1)
	,(N'PayoutAutoLimit', N'0', NULL,0)
	,(N'RetrierSettings', N'{ "MaxRetries" : "5", "DelayInMilliseconds" : "5000" }', NULL, 0)
	,(N'KrakenAccount', N'aba2fG0f58crdpxQuxtqhKmrRuRIYGF6Tc65uenBGVLblhFHpPUl3VJ9nrb+7hFeU+oE5D3z35QYjRjVUin+WWLv50p2WGV3XAKsAjlyYaW706CQ+Au448Kmlmhzh5RfzFosS6mlXJvj7P50Cp3z411pt581+tsmbVzBYfGhxP+3juEuzTtcQSoWuWwnY+YeVa+0KP5BUBQpDeFNxn6Vhos/2azVOR0NjMH/ruH7vDJQ4cf5DLCQ0EOkl0r4Kt9/WMGwrAMrMkn7/kLY76FAfQq159j8lxkjQ5izwq5D1Yq+1Kv9k7CAFYHw+2fr4G040hKmhZ6FD9PqQjj0EL3T+72z0rDpXjvY91NZEM8aGK0=', NULL,1)
	,(N'PushoverSettings', N'{ "AppToken" : "akho6vm3rw5u7axz7ovgjox46gx9ux", "UserKey" : "g8c41vizp3rwi3niyot62zxjkbx93k" }', NULL,0)
  --,(N'SitePaymentMethodDetails', N'[{"SiteId":4,"Spread":1,"Methods":[{"Name":"CreditCard","Fee":7.5,"Commission":3.5,"OrderSizeBoundary":{"Min":20,"Max":1500}},{"Name":"Bank","Fee":3.9,"Commission":2.9,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":3,"Spread":1,"Methods":[{"Name":"CreditCard","Fee":7.5,"Commission":3.5,"OrderSizeBoundary":{"Min":20,"Max":1500}},{"Name":"Bank","Fee":3.9,"Commission":2.9,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":1,"Spread":1,"Methods":[{"Name":"CreditCard","Fee":7.5,"Commission":3.5,"OrderSizeBoundary":{"Min":20,"Max":1500}},{"Name":"Bank","Fee":3.9,"Commission":2.9,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":2,"OrderSizeBoundary":{"Min":10,"Max":1200},"Methods":[{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":15,"OrderSizeBoundary":{"Min":10,"Max":1200},"Methods":[{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":16,"OrderSizeBoundary":{"Min":10,"Max":1200},"Methods":[{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":17,"OrderSizeBoundary":{"Min":10,"Max":1200},"Methods":[{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":19,"OrderSizeBoundary":{"Min":10,"Max":1200},"Methods":[{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":20,"OrderSizeBoundary":{"Min":10,"Max":1200},"Methods":[{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":21,"Spread":1,"Methods":[{"Name":"CreditCard","Fee":3.5,"Commission":3.5,"OrderSizeBoundary":{"Min":20,"Max":1500}},{"Name":"Bank","Fee":0,"Commission":2.9,"OrderSizeBoundary":{"Min":25,"Max":70000}}]},{"SiteId":22,"Spread":1,"Methods":[{"Name":"CreditCard","Fee":7.5,"Commission":3.5,"OrderSizeBoundary":{"Min":20,"Max":1500}},{"Name":"Bank","Fee":3.9,"Commission":3.5,"OrderSizeBoundary":{"Min":25,"Max":70000}}]}]', NULL)
	   -- Removed CreditCard
	,(N'SitePaymentMethodDetails', N'{"Spread":4,"BankCommission":{"Name":"Bank","Fee":0,"Commission":0},"CCCommission":{"Name":"CreditCard","Fee":0,"Commission":9.9},"PaymentMethods":[{"Name":"Bank"},{"Name":"CreditCard"}],"CCOrderSizeBoundary":{"Min":40,"Max":500},"Boundaries":{"DKK":{"Min":13.5,"Max":135},"EUR":{"Min":200,"Max":50000}}}', NULL,0)
	,(N'SMTPServerSettings', N'L24+TDUE9GBGgP+XAdz5cDvKsiAIGoWhQlT3uGlbKJrPqpoOTSHNu0YVVFBk9j0gbdGQbdV1GO2jEGZIXrsKHROgO2JKicHQY/qeoLLzdgTmdd4T6jq6DR3Zq7p/xj4gnsSvyXF+phRtXUmMAXETw6QLdjlgsO6mHSIC9XZqH8jO8E4oC5AHQplxhnAMvYmXcg4F5Sq+s6ys5AzeEuHzmd3sA1kL7tJRVZaj03lmxqDJJoQY2BusN/eO/KYLKxl7Cs/I+dw1LGzPTp6kKQd38lDvf/AaF1U0cCctZw1NokazvyBNXhgzmrMIJ3gKKi/fyU8MWj3SA9XWT7iBJ2uLAz2y7Qw4kOVN+y5Av48v2K3uTnUjER6LWxAAyqq2FKCKX3nb62F/6ldlOGDPvJs3Avc7pMvnp3U2xUa9WtGgP5WDcHnLE7Bd5yo53ZHnQ0HCtJmnikRRVITLvGATDMFDvgnsJvaYt/bL+0arwDr4WlBEfDAHJRzvabtmsMVUiDxMNaOviYhff6dbCTweIq+RH8DRi/EZlxkaLu3X5Crojrjxm2YrvlbpgmF4+LC/8zx2xQ+q86h1/JZEbVadQCx3QAfG2rfy3DFd8tBwIQFbg/THu7dE+b3r58YOy+QpDRFkzkzYfDsKue9KotDfxibShmtKtcSTbYGIs8BajGbu/xjUsXa79p921xCJTcCl8fHtr6h1bgsHYkKjeQ+YDKW1VxBvzUCRGgeayw56IGVi6qQTRKXFFmz8+x03FxCxvfod7riqxLbCul2+PPS+cqBhhPvZjOjw03kUpsPIgstaPkWCROYxjwNlWmy+KLRaw9BZwFAbEP9qDlKp7Cc4h94qxJGXD8oy7lOvnSm6lj63RFrbclegK7QMAU7VKKiF0Qy22F4O2/NQnKL395iSPHRwZzD46HWB0lcOD984AwQdeuqEPS4jscnLWeivgKiSuTo2SfPN9zooesrem8wFYXylmWxALCznPZiU++i92qGzS4ZV8YBLtAIUaf0bXpEbcXOrlxIJep2UvEAr4fJqSGldEoV32iibgtZMBq/dZ8U+gRCU0DsGUAPoYhL/fPauytLeoMbFNa70Infps2R9a+CJcxXvBRP2166AqR/JAI4gIHIkNA2VKweD55ZMD0UWX27VPDL7VdGrwAgUzdiyMVyHpEdfbgUrwCOfwzBOADWK5LcBMnONzuBWaGxD6eBNViQ2xpJlIwCr7LRf7qLn9/OzSj6CgXf9K32ffplpMp0gs8k1STFPpaO06H/I5GGrR2o12/un9g9z32K2L3vzwfQgPxxVZ6Z4yXkH59b55zBS9cizfXh7RW/kNEkIxmhkkxd3nvv0p5Yio1CnGGDduAZgXx5mbQAM2yf6unZcv/d3fRiQyNA3k0vZLB4DpVCY7nRcJsi6BS2PKNJ8hs0HvPzVF3n8ThlHR4DReYmH1UDnKnIUmr5fMswWEuTwjWmFByJqZF1qxSjacbDb8Rb1d442jt1DGItf90P9DEUJOmBH7PCYBsUQzEK+EDMrF2ZuJ556V6tred4jc06IyjcAiX1YgKiQyT5IzberJKhjPGQGaqx1GKtfHWYLTS1aCrxdwrFO3ipr2tZAO9soGy8vSgKbxHFQUYNujQgC8srzCZB46wa/rsjAZRoL7FXc8nHzap8laFULHfjcHptI8OwH/EoNSXfmBhq04d6KX3UlbaqTqvK6kW6ulo1Bxn+ICExEwb8SffjZa+bh9hA6eNIsbUm7NTg4hBDzFt/2TmDgq5Wd3reH47ruZOVUepvMiSmz2Zj7nw73Ra9x8xmA7pSMVpvIRV69HrjkLO3diP6orZvAz3un9LT7pknH2EJlRMBsOefQV5sUtgZTbskg3h825lEo8+79RVD91lLoCCHdRpBiW973pfT1qF7Cnm8KyOGu/TiGeb4uC4DZwzgybxZoVFJbjoV1zpaImJTq7E5bzjf5irBKR82uRAEhSnEfE/q6SBJOs/c62cMYjvjKEU+HiLvAOYWAOa4pyjfn5rEiRXLcKdQ=', NULL,1)
  --,(N'BuyBankPaymentSettings', N'[{"Currency":"EUR","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"DE17 7001 1110 6053 3879 67","BICORSWIFT":"DEKTDE7GXXX","BeneficiaryAddress":"APPLEBYS PLADS 7, KOEBENHAVN K, 1411, Denmark","AccountNumber":"","BankPaymentInstitution":"Handelsbank, Elsenheimer Str. 41, München, 80687, Germany","MandatoryReference":"","UKSortCode":"","BSBCode":"","RegNumber":""},{"Currency":"GBP","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"89538996","BankPaymentInstitution":"TransferWise, 56 Shoreditch High Street, London, E1 6JJ, United Kingdom","MandatoryReference":"","UKSortCode":"23-14-70","BSBCode":"","RegNumber":""},{"Currency":"AUD","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"494011871","BankPaymentInstitution":"TransferWise, 800 Bourke Street, Melbourne VIC 3008, Australia","MandatoryReference":"","UKSortCode":"","BSBCode":"082-182","RegNumber":""},{"Currency":"DKK","Bank":"Andelskassen Fælleskassen","Beneficiary":"","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"2024556","BankPaymentInstitution":"Andelskassen Fælleskassen","MandatoryReference":"","UKSortCode":"","BSBCode":"","RegNumber":"8411"}]', NULL)
	,(N'BuyBankPaymentSettings', N'[[{"Currency":"EUR","Bank":"Transferwise","Beneficiary":"Monni ApS","IBAN":"","BICORSWIFT":"NEUALT21","BeneficiaryAddress":"Noerrebrogade 20, 1st floor, 2200 Copenhagen N, Denmark","AccountNumber":"LT293080020000000771","BankPaymentInstitution":"1-36 Olimpieciu g., Vilnius, Lithuania","MandatoryReference":"","UKSortCode":"","BSBCode":"","RegNumber":""},{"Currency":"GBP","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"89538996","BankPaymentInstitution":"TransferWise, 56 Shoreditch High Street, London, E1 6JJ, United Kingdom","MandatoryReference":"","UKSortCode":"23-14-70","BSBCode":"","RegNumber":""},{"Currency":"AUD","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"494011871","BankPaymentInstitution":"TransferWise, 800 Bourke Street, Melbourne VIC 3008, Australia","MandatoryReference":"","UKSortCode":"","BSBCode":"082-182","RegNumber":""},{"Currency":"DKK","Bank":"Jyske Bank","Beneficiary":"","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"1091610","BankPaymentInstitution":"Jyske Bank","MandatoryReference":"","UKSortCode":"","BSBCode":"","RegNumber":"5026"}]', NULL,0)
	,(N'SellBankPaymentSettings', N'[{"Currency":"DKK","RegNumber":"true","BICORSWIFT":"false","UKSortCode":"false","BSBCode":"false","IBAN":"false","AccountNumber":"true","ValidationSetting":[{"LabelName":"Bank_DKK_RegNumber","MinLength":4,"MaxLength":6,"Type":"numeric","Regex":"","RequiresSpecialValidation":false},{"LabelName":"Bank_AccountNumber","MinLength":6,"MaxLength":10,"Type":"numeric","Regex":"","RequiresSpecialValidation":false}]},{"Currency":"EUR","RegNumber":"false","BICORSWIFT":"true","UKSortCode":"false","BSBCode":"false","IBAN":"true","AccountNumber":"false","ValidationSetting":[{"LabelName":"Bank_BICORSWIFT","MinLength":0,"MaxLength":0,"Type":"alphanumeric","Regex":"[A-Z]{6}[A-Z0-9]{2}([A-Z0-9]{3})?","RequiresSpecialValidation":false},{"LabelName":"Bank_IBAN","MinLength":0,"MaxLength":0,"Type":"alphanumeric","Regex":"","RequiresSpecialValidation":true}]},{"Currency":"GBP","RegNumber":"false","BICORSWIFT":"false","UKSortCode":"true","BSBCode":"false","IBAN":"false","AccountNumber":"true","ValidationSetting":[{"LabelName":"Bank_UKSortCode","MinLength":6,"MaxLength":6,"Type":"numeric","Regex":"","RequiresSpecialValidation":false},{"LabelName":"Bank_AccountNumber","MinLength":8,"MaxLength":8,"Type":"numeric","Regex":"","RequiresSpecialValidation":false}]},{"Currency":"AUD","RegNumber":"false","BICORSWIFT":"false","UKSortCode":"false","BSBCode":"true","IBAN":"false","AccountNumber":"true","ValidationSetting":[{"LabelName":"Bank_BSBCode","MinLength":6,"MaxLength":6,"Type":"numeric","Regex":"","RequiresSpecialValidation":false},{"LabelName":"Bank_AccountNumber","MinLength":6,"MaxLength":9,"Type":"numeric","Regex":"","RequiresSpecialValidation":false}]}]', NULL,0)
	,(N'OperationalStatus', N'ServiceOpen', NULL,0)
	,(N'CreditCardGatewayName', N'QuickPay', N'YourPay or PayLike or TrustPay',0)
	,(N'PayLikeProdDetails', N'[{"SiteId": 4, "PublicKey": "_da08e30b-b8c2-4e08-bec8-be988845b2e2", "AppKey": "_f29e3f49-4de6-4137-9f1e-01d8b63da8ea"}, {"SiteId": 3, "PublicKey": "_da08e30b-b8c2-4e08-bec8-be988845b2e2", "AppKey": "_f29e3f49-4de6-4137-9f1e-01d8b63da8ea"}, {"SiteId": 1, "PublicKey": "_da08e30b-b8c2-4e08-bec8-be988845b2e2", "AppKey": "_f29e3f49-4de6-4137-9f1e-01d8b63da8ea"}, {"SiteId": 2,"PublicKey": "_d0384dd3-5177-4f6a-b2a5-66b5da060c2f","AppKey": "_91913afa-ec58-4052-9046-7ce856003fdd"}]', NULL,0)
	,(N'PayLikeTestDetails', N'[{"SiteId": 4, "PublicKey": "_7c014f26-5195-4363-aff0-80740b374db3", "AppKey": "_cb35d3c2-02f3-4c28-95fa-97e4131e93b0"}, {"SiteId": 3, "PublicKey": "_7c014f26-5195-4363-aff0-80740b374db3", "AppKey": "_cb35d3c2-02f3-4c28-95fa-97e4131e93b0"}, {"SiteId": 1, "PublicKey": "_7c014f26-5195-4363-aff0-80740b374db3", "AppKey": "_cb35d3c2-02f3-4c28-95fa-97e4131e93b0"}, {"SiteId": 2,"PublicKey": "_7c014f26-5195-4363-aff0-80740b374db3","AppKey": "_cb35d3c2-02f3-4c28-95fa-97e4131e93b0"}]', NULL,0)
	,(N'PayLikeTestOrProd', N'Test', NULL,0)
	,(N'ComplianceAvailability', N'OnDuty', NULL,0)
	,(N'TxLimitEUR', N'150', NULL,0)
	,(N'TxSecrectVerificationAttempts', N'10', NULL,0)
	,(N'ChainalysisSettings', N'REOFT9zoywsxjnZ5QXiDXoFN2lbCLXNV7ml5R4omN9QPUsRkvlH9kX4LAOhOBs5zdctm26Y9xMLs/gkzwh7sker54oLMyWPrmMKjFrU80chdQY8aLLaZefm4NipqEdmMZF9S/+i5tWv3LXC696/EQ6BKkwFygOJhjEN2+aUdKC5Sa6IIQ7aI4x46aKHHhOG7ofcWaW9xCcmj5rGTEt/F1+wriCWb0NY/OwvxVvjb5El8tAqAZniIOT4hcYlv4QJeHhtpS+CoeSqOcIa0ws2uaA==', NULL,1)
	,(N'BitGoUnlocked', N'Jun  6 2017  6:29PM', NULL,0)
	,(N'OpenExchangeRatesAPIId', N'tMXSu9rPLlGbO7oSayQsukpNL/6H5pK/IJtKxJRJPTYfSigdi6DGjNBLUMiEexIv', NULL,1)
	,(N'OverwriteCardFee', N'0', NULL,0)
	,(N'BitGoMinersFeeSettings', N'{"DefaultWalletId":"2NEHVhKttEQueoZHawZgdfdoK56zxA5aZ9P","DefaultAmount":1000.0,"MinersFee":0.0001}', NULL,0)
	,(N'CurrentAuditTrailLevel', N'1', N'Debug=1,Info=2,Warn=3,Error=4,Fatal=5',0)
	,(N'KYCFileLocation', N'C:\inetpub\wwwroot\Tgm\test.app.hafniatrading.com\App_Data\KycFiles', NULL,0)
	,(N'SpeedLimitSettings', N'{"PreviousDuration":24,"PreviousOrderAmount":1000}', NULL,0)
	,(N'SellPaymentMethodDetails', N'{"Spread":2,"BankCommission":{"Name":"Bank","Fee":0,"Commission":0,"FixedFee":0},"PaymentMethods":[{"Name":"Bank"}],"Boundaries":{"DKK":{"Min":13.5,"Max":50000},"EUR":{"Min":13.5,"Max":50000},"BTC":{"Min":13.5,"Max":50000}}}', NULL,0)
	,(N'AuditTrailCleanUpTimeInMonths', N'3', NULL,0)
	,(N'TransactionLimits', N'{"DayTransactionLimit":4,"PerTransactionAmountLimit":6750,"DayTransactionAmountLimit":6750,"MonthTransactionAmountLimit":13500}', NULL,0)
	,(N'BuySellCommission', N'[{"SiteId": 0,"Methods": [{"Name": "Bank","SellSpread": 1,"BuySpread": 1,"Sellcommission": 3.5,"Buycommission": 3},{"Name": "CreditCard","SellSpread": 1,"BuySpread": 1,"Sellcommission": 3.5,"Buycommission": 3}]}]', NULL,0)
	,(N'TrustPayTestOrProd', N'Test', NULL,0)
	,(N'TrustPayTestDetails', N'A87mhTuu1P1T8JXtvu2pWjnGOLhk205gSlBXkaRaRCJZHyzvv0jH80XYlTV7ohvNxuEW6wZF0r/sYWzS1NNe8reosjn7hmDmTOpUkKQRgD61TpcjZ4MNvWjFtomalpHUOKfq3Jmk9sfOZ+qamnKvuvdBNTRWiCQnn5b3gLtLIE/+wEoTM4JZTI2l5iQ6zg1BmZmjDoWzSvPLqm2IAmV4XYFpYMga4s6kkserYOwpY+vFLUR5+3kiJXFrCmAcNa8dSGPGY0bj3lAMxUBTFKnmEuredLQnTl+ldCexvhloarQkY0ANFU5/Rx3qyRLhTzcVG2ZVv5HVCOthm9BEcVTDUrSQhkjX12h+12qEpd52WHPF+2VtUB8NA10u0QcO/StKeHSOoaltXMHxB2zTFl59SmfJcp3jASWTo876O0AyVgOREaARgwZRzoVZignYIYEUVudazs5Jh0OC1Ul83jL1CKeegUwl/EIi8e7K/QZkJIt5CIDhQMZV9Uu2XbkFHEDksWxq2Ge+u6XVZBsluIGJshGHra4V4Pg2p+Ctyl+GEk84F8MsrNdOwtTdzIsWzrsKMgnPcqzAN15aC1fGm6Z8W18IUGJS3nwSgxoM13cCELm5COd2xs4/VP0+0xSd/qN/d2ygQNLHjrae5CIpcGI3Dh1VydPw1em0dnZGDEB8G2WRlsKOhXw1wngq+RaXpzt2YWuY5q5DEArPh6fvn8M+ECGtVm98871ipmRbm4+3N4kuRJRuUb5/4mCB4PoxlTeJNLd8u+3+TA0tXeEbfWdxtSZhn8DW1v8S29+Nynjv43ewrvlrX1tYjpfpTWgr0AOh12U2jyfw3uHLWWhRj9MO0ES6pFSBy4ip4EhD/8FXLk8=', NULL,1)
	,(N'TrustPayProdDetails', N'empty', NULL,0)
	,(N'reCaptchaStatus', N'Disabled', N'Enabled - Check reCaptcha;  Disabled - Hide reCaptcha',0)
	,(N'reCaptchaSettings', N'2cI/cktjnjfU9c0IScmFkLz8qzFpfEQgq8P2vwjKwfYp/DE32qdSHx6/hPSbJeSjSJNlzwcw5Lpz5N5eXATlg7DFnTkpXXzee9AF+KJWB7Iej3vvZzd5rXItjIPH3vwD2WHeIV3SIMgPq80QurmLctgN1SRmS9itUnB+lw5V7Cqatdc8qCJ3b9jaor4ZaabDnvk48zDqJHmW7z4tOfWoOoS2vRatUbOgD5d+i8S41Ro=', NULL,1)
	,(N'PhoneVerificationAttempts', N'5', NULL,0),
	(N'QuickPayDetails',N'vHrrHGeVHFmbHC/byt40jGU6nnw7bc5UuFciqLTQUwlk/dkdg6PWigWJlQBh/mtD6GYRxprDCOfO+5mzqsI+G/29yf1yVI3Y8BnOKm1xyaM1TD7TsyPB6M6HUGciwd6tzjLH9nHHAQrfrDRKn+SfXDyBVuWAqb41pSovd3Pg8A8ToZqlYvMsVx2FKv8MMdDmv3wEtvI4wXof9QWlnRJCXicOdqELZV/ppJSUBVCffJLXsQjDzRcNLVRrJ7A4fXkMP2xHsRQd18e0mOv3RCD17T/g9dxEb45GsOGZ8EebBn6JvDUy4PIpQM8tAkeUzqjo5vTeVtqjq6fsVAyAAzsDBB1IzzlfPjnxIctbT3iDP492YXgLAi98V1hgE8IOOTX92daVd9z+n6pV04KQBwI0dYeHi4N34gnX17IXIeibah2EReuBgbFWtQ0QJ7PROG/dkrwWvEVg4xvf5ugDFOryC0XI30TWckWd1lRVT01HKD9DYSDpImZdshpxYjAx0mlAhP4ZrIaxnJDoC6hQwfyext4G2o67Q/53l21jR3kMOWHMZ6EW0xDOEu9RxMy+MQjQfovmsvFd7hepHwhDGwau138sJc3ymX2VZEfF5z5vrP/oPsCDHQZ+ZAlbvy2BGfZAX7/3euzJ+tOwVc3cizK7PMqkC3+Pa4yCjti57hafrhKIbaT4q2iaTtxw52rVBBOgHVNs6B2E90JTtMkbRCF72ez4fel1XRU8Zl66R17TpsiTZ8NpflaDZPBkjX9ZK0lpKTYdRLeny2JU3kMK5ziBrapWzWS6AFrjbEo9gE0u/woAizqQ/1nU3eqmc7q5o84XJVnt9lC0K2b66rq42ThonTayj4SX6zEa+QJMQdUDuG4GE2uvs7PQ0qxWhqtkiPrTgk6C4wZ0WckWM4lf06yY/kCV/vw6xBCHamfQWtekx7cbYpkJWAQcr2ihrC9TFThkZIEIrqbPEstDp6cEvgMq77WF+nlYJP7I9b530bMxhhHxnbf2lxqOflY2Bi7z2NppnJEhBMBC40nQy7NsPySeIp/P6j1g7egm5X0ipr9Lq7JtL1bqpzBvXWEAvAOFE/ziANMNDFx5eajRDS0Gmr1OeGwM2/hHcWIkMaR7VD7epv5f91lgD7jZv+jRfrgXovT9/LR+Odh0YKo3FPfBfFPQserLL3jchHhlo/54NH6HRiqJh5FUDVN2TbL65K/M3hJyoFXMhuAaBYYfU0R/HWig+rgTKanSYFocv/6ePf6NmVOm6/GqKgFxxE4YZm9nGjL9eKwE1Pg0LU2SLeEE+GY40QgCpVokMEuTpuIFbkFXc9ubxoVomjbPnZRI19WupulUAVdDhccBUn7POlLKLQPz2IhuFLmmFC8AEnROvpAmdvHw9YMSCiEEw00fdjNfxZop+sCF3FWkJyvZQL8Vnt5InCH9wRWwUWb0bibdt23ilYzL1xYyTMvwfu/vHyzw4jczUsbT/mOLsFzkg1gVYNO4OcSX2pEWXCz6SQ6yjvUsXZ9eCHCGbNL3/W718zW7qKtHdhw1FKsEKpK2m9mZ0M3HI7n8WztELMPUM6b3Knu7KHe/JhVZbaZIZKE992y6NxhQ3PPv1umUbFXroEt2/1tcxUvEfcNw7V/zclaW61BJOuazpUlSuxmXcuX1Vnb6trHgXQgvxqgDgGdY0tZKKh/0h1bopKULlpt45Ok39Vajc1ueY/v5NxOUMr5Qoo9f+CgOL7pCMCo/73Q8vqhKyj48EFKxX4ccZ4lHAqTP6QLXGtzvQ9pd1vxroCi2kItGZxooEmhNuYLJOm4rW+FnPaVNqWfE/9lQNlEp3Hbv6y8hucphNcho2/rfB5ARHlWB4C+HSPZcLiZpDbkRRC2cauyPLxvuGxhxK22sI7T+oinCWLy/EG3aD1xwz/QvrYjN2BgWO3VCWj7imrug3egrxKRUK3UvPJ+TkXk0/uUoLJrDFXqD3Ozq481q0h8n4hYPKcxn1lJ7p5QkHVRigFFbdYzhIdu4JnrYQkNHtF4vwu/ne94VCXSYKNPl6qanoGcwEI+2AI6gXtNzKTvR4Fc84O3E/AESP9KgYshEsOd1WufHj9SNziADHeSTeThu/iLhiE4ANyOPWVxET/LZ9FxMCTP/cURfB8dY6wybzuMvnLLYK7o=',NULL,1)
	,(N'CreditCardLimits', N'{"PerTransactionAmountLimit":500,"DayTransactionAmountLimit":500,"MonthTransactionAmountLimit":1000}', NULL,0)
	,(N'FaceTecKeys', N'd6BSOOJ8kT1ab1xzXrNJpO8KPNyX9mE+5j5lZwiob5yWm3c1Df/3KDN1O262Bf1QBDSdwG3UtslpRiH0MhemqOWLfgYXmbiReNOMjTCi+DgucJw9AMhNvV72b0zPf+R/lN+uM5ZlwchDaIytxTk48HGBbg5GMEZtwsJUs1xHbM5WqRYniLybxQHsGRozuSTywF0UPfqzlFpUhMWdDvvEjEdcudK83NH9+pjfJq2YKcwIKB06R1os+8C/ZE0LCVm6NY+SUgpPbQZbsHaJ1fF+UrubbKYi9Qm/xMj9PtlHFpAc+bJMFy94LCu5V5Gw9jjFMSyDC9H2lJWKEgMOu83kqp3kmFVFWUwY9189yBOMRfRBU3SiJfQJ3unCDtQWKTXuiKdL7FymDvXo4PfpmYH4tIGxspna1Tq33qcSugJBvrZpZn/9pUvnScSuB3yTPjWssvyFK1Hk2Ro2SjUWdUtf4a1aDDFTKxsZAHHBAo0gWZJPvWhuiwk3aKJtWYpr0kNYjhxugqlsfWnScStGu2AyUbKKX/8jj3wbMIXPWzzVRlj6ZyPpUTu3pm5ko0+bEp7YNLDdH0UPmhiZYMamyxUvkBgkpUvpezdUh6wN8FAQ9/A=', NULL,1)
	,(N'MongoDBDetails', N'{"MongoDatabaseName":"facetec-sdk-data","MongoUsername":"Enter-MongoDB-username","MongoPassword":"Enter-MongoDB-Password", "MongoPort": "Enter-MongoDB-port" , "MongoHost": "Enter-MongoDB-Host", "MongoDBURL": "mongodb://username:password@localhost:27017"}', NULL,0)	
	,(N'ThresholdDetails', N'{"BankBuyAmountThreshold" : "1000", "BankBuyCurrency": "DKK", "BankBuySettings":[{"Currency":"EUR","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"DE17 7001 1110 6053 3879 67","BICORSWIFT":"DEKTDE7GXXX","BeneficiaryAddress":"APPLEBYS PLADS 7, KOEBENHAVN K, 1411, Denmark","AccountNumber":"","BankPaymentInstitution":"Handelsbank, Elsenheimer Str. 41, M\u00fcnchen, 80687, Germany","MandatoryReference":"","UKSortCode":"","BSBCode":"","RegNumber":""},{"Currency":"GBP","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"89538996","BankPaymentInstitution":"TransferWise, 56 Shoreditch High Street, London, E1 6JJ, United Kingdom","MandatoryReference":"","UKSortCode":"23-14-70","BSBCode":"","RegNumber":""},{"Currency":"AUD","Bank":"Transferwise","Beneficiary":"Hafnia Trading ApS","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"494011871","BankPaymentInstitution":"TransferWise, 800 Bourke Street, Melbourne VIC 3008, Australia","MandatoryReference":"","UKSortCode":"","BSBCode":"082-182","RegNumber":""},{"Currency":"DKK","Bank":"Coop Bank","Beneficiary":"","IBAN":"","BICORSWIFT":"","BeneficiaryAddress":"","AccountNumber":"3494670","BankPaymentInstitution":"Coop Bank","MandatoryReference":"","UKSortCode":"","BSBCode":"","RegNumber":"6620"}]}', NULL,0)
	,(N'KycDataProviderUrl', N'https://test.app.monni.com', NULL,0)
)	
AS Source ([ConfigKey], [ConfigValue], [ConfigDescription],[IsEncrypted])
ON Target.[ConfigKey] = Source.[ConfigKey]
-- update matched rows
WHEN MATCHED THEN
UPDATE SET  [ConfigValue] = Source.[ConfigValue],
			[ConfigDescription] = Source.[ConfigDescription],
			[IsEncrypted] = Source.[IsEncrypted]
-- insert new rows
WHEN NOT MATCHED BY TARGET THEN
INSERT ([ConfigKey], [ConfigValue], [ConfigDescription],[IsEncrypted])
VALUES ([ConfigKey], [ConfigValue], [ConfigDescription],[IsEncrypted]);
--WHEN NOT MATCHED BY SOURCE THEN DELETE;

--SET IDENTITY_INSERT [dbo].[AppSettings] OFF

--GO
/* *************************************************************** */
