<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="DynamicServiceLocator" type="DynamicServiceLocator.DynamicServiceLocatorConfiguration, DynamicServiceLocator" allowDefinition="MachineToApplication" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <DynamicServiceLocator>
    <implementers>
      <add InterfaceName="RiskScoreLogic.ICCOriginLogic,CCOriginLogic" ImplementerClass="RiskScoreLogic.CCOriginLogic,CCOriginLogic" ImplementerAssembly="" InterfaceAssembly="" />
    </implementers>
  </DynamicServiceLocator>
  <appSettings>
    <add key="SMTPHost" value="smtp.wannafind.dk" />
    <add key="SMTP.Server" value="customer-smtp.one.com" />
    <add key="SMTP.ServerPort" value="2525" />
    <add key="SMTP.UserId" value="support@mailwmc.com" />
    <!--<add key="SMTP.UserId" value="WeMoveCoins.com &lt;support@mailwmc.com&gt;" />-->
    <add key="SMTP.Password" value="cc1234" />
  </appSettings>
  <connectionStrings>
    <add name="_LocalConnectionString" connectionString="Data Source=DESKTOP-68DVQ15\SQLEXPRESS;Initial Catalog=wmc;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LocalConnectionString" connectionString="Data Source=apptest.wemovecoins.com,14338; Initial Catalog=apptest.wemovecoins.com;Persist Security Info=True;User ID=sqlWMCTestTgm;Password=sqlWMC8762115" providerName="System.Data.SqlClient" />
    <add name="__LocalConnectionString" connectionString="Data Source=app.wemovecoins.com,14338; Initial Catalog=wemovecoins.com;Persist Security Info=True;User ID=sqlWMCTgm;Password=sqlWMC89645013" providerName="System.Data.SqlClient" />
    <!--<add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=wemovecoins.com;user id=sqlWMCTgm;password=sqlWMC89645013;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=app.wemovecoins.com,14338;initial catalog=wemovecoins.com;Persist Security Info=True;User ID=sqlWMCTgm;Password=sqlWMC89645013;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DataContext" connectionString="metadata=res://*/DataContext.csdl|res://*/DataContext.ssdl|res://*/DataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=apptest.wemovecoins.com,14338;initial catalog=apptest.wemovecoins.com;Persist Security Info=True;User ID=sqlWMCTestTgm;Password=sqlWMC8762115;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>