/* *************************************************************** */
SET IDENTITY_INSERT [dbo].[Site] ON;
GO
MERGE INTO [dbo].[Site] AS Target
USING 
(
	VALUES 
	 (1, N'app.monni.com', N'app.monni.com', NULL, N'GTM-5ZM765G', N'{"ServerName":"smtp.gmail.com","ServerPort":"587","UserId":"hafniatrading@gmail.com","Password":"i]K2tEeku9L7bHPogcgUZL","EnableSsl":true,"ReplyTo":"support@hafniatrading.com","Templates":[{"TemplateName":"PaymentReceived","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/PaymentReceived.html","Subject":"Your payment has been received for order #{{OrderNumber}}"},{"TemplateName":"OrderCompleted","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/OrderCompleted.html","Subject":"Your order #{{OrderNumber}} is completed and your bitcoins are delivered"},{"TemplateName":"PaymentInstructions","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/PaymentInstructions.html","Subject":"Payment Instructions for your order #{{OrderNumber}}"},{"TemplateName":"OrderCancelled","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/OrderCancelled.html","Subject":"Your order #{{OrderNumber}} has been cancelled"},{"TemplateName":"KYCDeclined","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/KYC_Declined.html","Subject":"Your order #{{OrderNumber}} has been declined"},{"TemplateName":"KYCRequest","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/KYC_Request.html","Subject":"Your order #{{OrderNumber}} has rasised a request for more information"},{"TemplateName":"RequestKycDocuments","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/RequestKycDocuments.html","Subject":"Your order #{{OrderNumber}} has been send to manual review"},{"TemplateName":"CryptoCurrencyPaymentInstructions","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/CryptoCurrencyPaymentInstructions.html","Subject":"Payment instruction for your selling-order #{{OrderNumber}}"},{"TemplateName":"SellOrderReceipt","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/OrderSellProcessing.html","Subject":"We have received your payment for order #{{OrderNumber}}"},{"TemplateName":"SellOrderCompleted","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/OrderCompletedSell.html","Subject":"Your order #{{OrderNumber}} is completed and money has been send to credit card"},{"TemplateName":"RequestTxSecret","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/RequestTxSecret.html","Subject":"Credit card verification of order #{{OrderNumber}}"},{"TemplateName":"OrderComplianceInspection","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/OrderComplianceInspection.html","Subject":"Your order #{{OrderNumber}} will be evaluated by our compliance department"},{"TemplateName":"OrderSellCompleted","TemplateUrl":"https://app.monni.com/Sites/{SiteName}/EmailTemplates/OrderSellCompleted.html","Subject":"Your order #{{OrderNumber}} is completed"}]}', NULL)
	,(2, N'app.123bitcoin.dk', N'app.123bitcoin.dk', NULL, N'GTM-WZKRNRZ', N'{"ServerName":"smtp.gmail.com","ServerPort":"587","UserId":"hafniatrading@gmail.com","Password":"i]K2tEeku9L7bHPogcgUZL","EnableSsl":true,"ReplyTo":"support@hafniatrading.com","Templates":[{"TemplateName":"PaymentReceived","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/PaymentReceived.html","Subject":"Din betaling er modtaget vedr. ordre #{{OrderNumber}}"},{"TemplateName":"OrderCompleted","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/OrderCompleted.html","Subject":"Din ordre #{{OrderNumber}} er nu fuldført og dine bitcoins er leveret"},{"TemplateName":"PaymentInstructions","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/PaymentInstructions.html","Subject":"Betalingsinstruktioner vedr. ordre #{{OrderNumber}}"},{"TemplateName":"OrderCancelled","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/OrderCancelled.html","Subject":"Din ordre #{{OrderNumber}} er annulleret"},{"TemplateName":"KYCDeclined","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/KYC_Declined.html","Subject":"Din ordre #{{OrderNumber}} er afvist"},{"TemplateName":"KYCRequest","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/KYC_Request.html","Subject":"Din ordre #{{OrderNumber}} har rejst et ønske om mere information"},{"TemplateName":"RequestKycDocuments","TemplateUrl":"https://app.123bitcoin.dk/Sites/123bitcoin/EmailTemplates/RequestKycDocuments.html","Subject":"Din ordre nr. {{OrderNumber}} er sendt til manuel gennemgang"},{"TemplateName":"CryptoCurrencyPaymentInstructions","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/CryptoCurrencyPaymentInstructions.html","Subject":"Betalingsinstruktion for din salgsordre # {{OrderNumber}}"},{"TemplateName":"SellOrderReceipt","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/OrderSellProcessing.html","Subject":"Vi har modtagt din betaling til bestilling # {{OrderNumber}}"},{"TemplateName":"SellOrderCompleted","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/OrderCompletedSell.html","Subject":"Din ordre # {{OrderNumber}} er afsluttet, og penge er blevet sendt til kreditkort"},{"TemplateName":"RequestTxSecret","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/RequestTxSecret.html","Subject":"Kreditkortverification as bestilling # {{OrderNumber}}"},{"TemplateName":"OrderComplianceInspection","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/OrderComplianceInspection.html","Subject":"Din bestilling # {{Bestillingsnummer}} vil evalueres vores vedlige overensstemmelse"},{"TemplateName":"OrderSellCompleted","TemplateUrl":"https://app.123bitcoin.dk/Sites/{SiteName}/EmailTemplates/OrderSellCompleted.html","Subject":"Din ordre # {{OrderNumber}} er afsluttet"}]}', NULL)
	,(3, N'app.hafniatrading.com', N'app.hafniatrading.com', NULL, N'GTM-KVK3C9W', N'{"ServerName":"smtp.gmail.com","ServerPort":"587","UserId":"hafniatrading@gmail.com","Password":"i]K2tEeku9L7bHPogcgUZL", "EnableSsl":true,"ReplyTo":"support@hafniatrading.com","Templates":[{"TemplateName":"PaymentReceived","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/PaymentReceived.html","Subject":"Your payment has been received for order #{{OrderNumber}}"},{"TemplateName":"OrderCompleted","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderCompleted.html","Subject":"Your order #{{OrderNumber}} is completed and your bitcoins are delivered"},{"TemplateName":"PaymentInstructions","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/PaymentInstructions.html","Subject":"Payment Instructions for your order #{{OrderNumber}}"},{"TemplateName":"OrderCancelled","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderCancelled.html","Subject":"Your order #{{OrderNumber}} has been cancelled"},{"TemplateName":"KYCDeclined","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/KYC_Declined.html","Subject":"Your order #{{OrderNumber}} has been declined"},{"TemplateName":"KYCRequest","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/KYC_Request.html","Subject":"Your order #{{OrderNumber}} has rasised a request for more information"},{"TemplateName":"RequestTxSecret","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/RequestTxSecret.html","Subject":"Please verify your credit card"},{"TemplateName":"CryptoCurrencyPaymentInstructions","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/CryptoCurrencyPaymentInstructions.html","Subject":"Awaiting BTC transfer."},{"TemplateName":"OrderComplianceInspection","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderComplianceInspection.html","Subject":"Your order #{{OrderNumber}} has been send to manual review"},{"TemplateName":"RequestKycDocuments","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/RequestKycDocuments.html","Subject":"Your order #{{OrderNumber}} has been send to manual review"},{"TemplateName":"CryptoCurrencyPaymentInstructions","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/CryptoCurrencyPaymentInstructions.html","Subject":"Payment instruction for your selling-order #{{OrderNumber}}"},{"TemplateName":"SellOrderReceipt","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderSellProcessing.html", "Subject":"WE HAVE RECEIVED YOUR PAYMENT FOR ORDER #{{OrderNumber}}"},{"TemplateName":"SellOrderCompleted","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderCompletedSell.html","Subject":"Your order #{{OrderNumber}} is completed and money has been send to credit card"},{"TemplateName":"OrderSellCompleted","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderSellCompleted.html","Subject":"Your order #{{OrderNumber}} is completed"},{"TemplateName":"RequestTxSecret","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/RequestTxSecret.html","Subject":"CREDIT CARD VERIFICATION OF ORDER #{{OrderNumber}}"},{"TemplateName":"OrderComplianceInspection","TemplateUrl":"https://app.hafniatrading.com/Sites/{SiteName}/EmailTemplates/OrderComplianceInspection.html","Subject":"YOUR ORDER #{{OrderNumber}} WILL BE EVALUATED BY OUR COMPLIANCE DEPARTMENT"}]}', NULL)
	,(4, N'app.wemovecoins.com', N'app.wemovecoins.com', NULL, N'GTM-WSLDRX2', N'{"ServerName":"smtp.gmail.com","ServerPort":"587","UserId":"hafniatrading@gmail.com","Password":"i]K2tEeku9L7bHPogcgUZL", "EnableSsl":true,"ReplyTo":"support@wemovecoins.com","Templates":[{"TemplateName":"PaymentReceived","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/PaymentReceived.html","Subject":"Your payment has been received for order #{{OrderNumber}}"},{"TemplateName":"OrderCompleted","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/OrderCompleted.html","Subject":"Your order #{{OrderNumber}} is completed and your bitcoins are delivered"},{"TemplateName":"PaymentInstructions","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/PaymentInstructions.html","Subject":"Payment Instructions for your order #{{OrderNumber}}"},{"TemplateName":"OrderCancelled","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/OrderCancelled.html","Subject":"Your order #{{OrderNumber}} has been cancelled"},{"TemplateName":"KYCDeclined","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/KYC_Declined.html","Subject":"Your order #{{OrderNumber}} has been declined"},{"TemplateName":"KYCRequest","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/KYC_Request.html","Subject":"Your order #{{OrderNumber}} has rasised a request for more information"},{"TemplateName":"RequestKycDocuments","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/RequestKycDocuments.html","Subject":"Your order #{{OrderNumber}} has been send to manual review"},{"TemplateName":"CryptoCurrencyPaymentInstructions","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/CryptoCurrencyPaymentInstructions.html","Subject":"Payment instruction for your selling-order #{{OrderNumber}}"},{"TemplateName":"SellOrderReceipt","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/OrderSellProcessing.html","Subject":"We have received your payment for order #{{OrderNumber}}"},{"TemplateName":"SellOrderCompleted","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/OrderCompletedSell.html","Subject":"Your order #{{OrderNumber}} is completed and money has been send to credit card"},{"TemplateName":"RequestTxSecret","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/RequestTxSecret.html","Subject":"Credit card verification of order #{{OrderNumber}}"},{"TemplateName":"OrderComplianceInspection","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/OrderComplianceInspection.html","Subject":"Your order #{{OrderNumber}} will be evaluated by our compliance department"},{"TemplateName":"OrderSellCompleted","TemplateUrl":"https://app.wemovecoins.com/Sites/{SiteName}/EmailTemplates/OrderSellCompleted.html","Subject":"Your order #{{OrderNumber}} is completed"}]}', NULL)
)
AS Source ([Id], [Text], [Url], [CurrencyId], [GoogleTagManagerId], [SMTPServerSettings], [TrustPilotAddress])
ON Target.[Id] = Source.[Id]
-- update matched rows
WHEN MATCHED THEN
UPDATE SET  [Text] = Source.[Text],
			[Url] = Source.[Url],
			[CurrencyId] = Source.[CurrencyId],
			[GoogleTagManagerId] = Source.[GoogleTagManagerId],
			[SMTPServerSettings] = Source.[SMTPServerSettings],
			[TrustPilotAddress] = Source.[TrustPilotAddress]
-- insert new rows
WHEN NOT MATCHED BY TARGET THEN
INSERT ([Id], [Text], [Url], [CurrencyId], [GoogleTagManagerId], [SMTPServerSettings], [TrustPilotAddress])
VALUES ([Id], [Text], [Url], [CurrencyId], [GoogleTagManagerId], [SMTPServerSettings], [TrustPilotAddress])
WHEN NOT MATCHED BY SOURCE THEN DELETE;

SET IDENTITY_INSERT [dbo].[Site] OFF

GO
/* *************************************************************** */