@using WMC.Helpers
@model WMC.Web.Models.ReceiptModel
<div class="page" id="formOrder" role="form">
    <div class="beatling-box">
        <div class="row">
            <div class="col-xs-12 col-sm-12 form-group text-center">
                <label> @Html.Resource("WMCResources", "USCardError")</label>
            </div>
        </div>
    </div>
</div>
<script>
    $("#orderInfoProgressBarItem").removeClass("active");
    $("#verificationProgressBarItem").removeClass("active");
    $("#paymentProgressBarItem").removeClass("active");
    $("#receiptProgressBarItem").addClass("active");
    dataLayer.push({
        'ErrorMessage': 'Error in completing payment process. US CreditCard.',
        'event': 'error'
    });
    //(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', googleTagManagerId);
</script>