@model WMC.Web.Models.ErrorModel
<div class="page" style="font-family: SourceSansPro, sans-serif !important;">
    <h1 style="color:black">@Model.ErrorText</h1>
    <h2 style="color:black">@Model.ErrorDescription</h2>
</div>